.container {
    margin: auto;
    padding: 16px;
    width: 50%;
}

.actionBar {
    display: flex;
    flex-wrap: wrap;
}

.actionBar .serachbar {
    position: relative;
}

// .createPatientModal {
//     position: absolute;
// }